/* shared/typography.css */
:root {
    --background-color-dark: #34495e;
    --menu-link-color: #f1c40f;
    --dark: #010101;
    --font-light: #fefefe;
    --background-color: #ffffff;
    --font-color-alternate: #E6575A;
    --font-color-main: #34495e;
}
