.input-title {
    width: 60%;
    padding: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.delete-button {
    width: 30%;
    padding: 5px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: 1px solid darkred;
}

.input-key {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.input-select {
    width: 30%;
    min-width:200px;
    padding: 5px;
    margin: 10px 0 0 0;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;

}

.input-textarea {
    width: 80%;
    min-height: 100px;
    padding: 5px;
    font-size: 16px;
}

.input-button {
    width: 30%;
    padding: 5px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

