/* Shared */
@import "./grid.css";
@import "./colors.css";
@import "./typography.css";

.grid {
    /*max-width: 100%;*/
    overflow: visible;
    background: var(--background-color);
    border-top: 0px solid var(--dark);
    padding: 0;
}

html,
body {
    background: var(--dark);
    color: var(--font-color-main);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

.inner-first {
    text-align: center;
    padding: 5px 0 0 0;
}
.inner {
    padding: 10px 0 0 0;
    text-align: center;
}
.inner-left {
    padding: 10px 0 0 10px;
}


.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
}

a, a:focus, a:hover {
    color: var(--font-color-main);
}

.footer {
    color: var(--dark);
    background: var(--background-color);
    text-align: center;
    border: 1px solid var(--dark);
    border-bottom: none;
}

.border-left {
    border-left: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

