<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#2E3AA1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="manifest" href="/assets/manifest.json">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

<noscript>
    <div class="grid">
        <div class="row">
            <div class="col-large-12 col-medium-12 col-small-12 border-left border-bottom">
                <div class="content">
                    <div class="font-semi-bold font-size-xxl">
                        <div class="inner-first">
                            <h3>Svens web starter</h3>
                            <div>
                                Please enable JavaScript to run this web starter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>

<div id="root" class="wrapper"></div>

<footer class="footer">Footer</footer>

</body>
</html>
