<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#2E3AA1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="manifest" href="/assets/manifest.json">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="root"></div>

<noscript>
    <h1>Svens web starter</h1>
    <div>
        Please enable JavaScript to run this web starter
    </div>
</noscript>

</body>
</html>
