<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#2E3AA1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.json">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root"></div>

<script type="text/javascript">
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
      .register('/serviceworker.js', {scope: './'})
      .then(navigator.serviceWorker.ready)
      .then((registration) => {
        if (registration.active) {
          console.info('Service Worker is active');
        }
        if (registration.waiting) {
          console.info('Service Worker is in waiting mode');
        }
        if (registration.installing) {
          console.info('Service Worker is installing');
        }
      });
  }

  if ('storageQuota' in navigator) {
    navigator.storageQuota.queryInfo("temporary").then(function (info) {
      console.log('quota in bytes', info.quota);
      console.log('used data in bytes', info.usage);
    });
  }
</script>


</body>
</html>
