const path = require( 'path' )
const config = {
    title: 'Web starter',
    gundb: 'http://localhost:8080/gun',
	http: {
		port: 5001,
		favicon: path.join( __dirname, 'assets/favicon.ico' ),
		static: {
			'/build': path.join( __dirname, '../../build' ),
			'/': path.join( __dirname, './static' )
		}
	},
	server: {
		SSR: true
	},
	session: {
		secret: 'SECRET',
		expires: 2 * 3600 * 1000 // 2 hours
	},
	databases: {
		mongo: 'mongodb://127.0.0.1:27017/webstarter'
	}
};
module.exports = config;
