/*!* components/article.css *!*/
/*.article {*/
    /*font-size: 14px;*/

    /*& a {*/
      /*color: var(--color-blue);*/
  /*}*/

    /*& p {*/
      /*color: var(--color-black);*/
      /*font-family: var(--font-text);*/
      /*font-weight: var(--font-weight);*/
      /*line-height: var(--line-height);*/
  /*}*/

/*@media (width > 600px) {*/
    /*max-width: 30em;*/
/*}*/
/*}*/

html,
body {
    padding: 0;
    line-height: calc(var(--font-size) * 1.618);
    background-color: rgba(242, 242, 242, 1);
    -webkit-font-smoothing: antialiased;
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-style: normal;
    background: var(--lightBg);
}

.faceApi {
    font-family: monospace;
    font-size: 12px;
    width: 300px;
    margin: 10px;
    line-height: 13px;
    border-radius: 3px;
    word-wrap: break-word;
}

.imageCanvas {
    display: block;
    max-width: 600px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-top: 6px solid var(--white);
    border-left: 6px solid var(--white);
    border-right: 6px solid var(--white);
    border-bottom: 20px solid var(--white);
}

.cameraFrame {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    font-family: "roboto", sans-serif;
    font-weight: 200;
    color: var(--darkBg);
}

.metaInput {
    margin-bottom: 50px;
}

.darkInput {
    width: 220px;
    border: none;
    background: var(--darkBg);
    padding: 25px;
    border-radius: 15px;
    font-family: "roboto", sans-serif;
    font-weight: 200;
    color: var(--white);
    font-size: 28px;
    margin: 20px;
    border-color: var(--darkBg);
}

.darkButton {
    width: 270px;
    border: none;
    background: var(--darkBg);
    padding: 25px;
    border-radius: 15px;
    font-family: "roboto", sans-serif;
    font-weight: 200;
    color: var(--white);
    font-size: 28px;
    margin: 20px;
    border-color: var(--darkBg);
}

/** SPINNER **/
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.spinner > .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner > .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

p.paragraph {
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.618);
    letter-spacing: -.004em;
    font-family: 'Oxygen', Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 20px 100px 0 100px;
    max-width: 75ch;
}

.logo {
    font-size: 26px;
    font-family: 'roboto-slab', sans-serif;
}

h1 {
    font-family: 'roboto-slab', sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: #01222A;

}

.center {
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: 'roboto-slab', sans-serif;
}

.frontpage-block {
    padding: 50px 0 0 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:visited, a:active, a:hover {
    color: #609;
}

.logo {
    padding: 0 0 0 5px;
}

.row-head {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: rgba(232, 232, 232, 1);
    border-bottom: 1px solid #e5e5e5;
}

.row {
    display: flex;
}

footer {
    color: #777;
    font-size: 14px;
    text-align: center;
    padding: 30px 0 0 0;
}

footer > a, a:visited, a:link {
    color: #777;
}

footer > a:visited {
    color: #777;
}

@media screen and (max-width: 768px) {
    .imageCanvas {
        max-width: 300px;
    }

    .frontpage-block {
        padding: 40px 0 0 0;
    }

    .row-head {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 24px;
    }

    .row {
        width: 98vw;
    }

    img {
        max-width: 300px;
    }

    p.paragraph {
        margin: 20px 25px 0 25px;
        line-height: 1.75;
        font-size: 20px;
    }

}

.noscript {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noscript-item {
    max-width: 100%;
}

.center {
    text-align: center;
}

.holder {
    max-width: 85%;
    margin: 0 auto;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* flexbox */
.flex-container {
    display: flex;
    overflow: hidden;
}

.flex-container > * {
    flex: 0 0 auto;
    overflow: scroll;
}

.stretchy {
    flex: 1 1 auto;
}

.column {
    flex-direction: column;
}

html,
body,
.full-screen {
    height: 100%;
}

body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.full-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.full-screen > * {
    flex: 0 0 auto;
    overflow: scroll;
}

.full-screen > .header,
.full-screen > .footer {
    height: 50px;
    background: #ECF1F1;
    color: #01222A;
    padding-top: 20px;
    text-align: center;
    font-size: 52px;
    font-family: 'roboto-slab', sans-serif;
}

.full-screen > .footer {
    background: #01222A;
    color: #ECF1F1;
    font-size: 20px;
}

.full-screen > .main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
}

.full-screen > .main > * {
    flex: 0 0 auto;
    overflow: scroll;
}

.full-screen > .main > .middle {
    flex: 1 1 auto;
}

.icon-man {
    padding: 20px 10px 0 30px;
    width: 180px;
}

.icon-camera {
    padding: 20px 10px 0 30px;
    width: 180px;
}

.icon-cloud {
    width: 320px;
    padding: 45px;

}

.camera-snap {
    position: relative;
    overflow: hidden;
    clear: left;
}

.camera-snap input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.icon-search {
    padding: 60px;
    width: 120px;
    color: #44A3C8;
}

.flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flex-cell {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

.flex-cell.full {
    flex: 0 0 100%;
    width: 100%;
}

.flex-cell:before {
    content: '';
    display: table;
    padding-top: 50%;
}

.flex-item {
    flex-grow: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-cell.dark {
    background: #046380;
}

.flex-cell.light {
    background: #44A3C8;
}

.cta {
    font-family: 'roboto-slab', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: var(--lightClrFont);
}

.cta > a, a:visited, a:link, a:hover {
    color: #01222A;
}

.cta > a {
    color: var(--lightClrFont);
}

.cta > a.dark {
    color: #01222A;
}

.light-color {
    color: var(--lightClrFont)
}

.hidden {
    display: none;
}

.full-width-container {
    display: flex;
    flex-direction: column;
}

.full-width-container > div {
    flex: 1;

}

.background-light {
    background: var(--lightBg);
}

.background-dark {
    background: var(--darkBg);
}

.myimg{
    background-image: url("/assets/man.svg");
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}